@tailwind base;
@tailwind components;
@tailwind utilities;

.text-input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.text-m {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: #8A94A6;
}
.bg_gray {
  background-color: rgb(242, 245, 248);
}
/* ================================== */
.btnBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-width: 1px;
  border-radius: 4px;
  opacity: 0.5;
  border-color: #c6cdd2;
  gap: 12px;
}

.btnBar.disabled {
  color: rgb(138, 148, 166);
}

button.disabled span,
button.disabled svg {
  color: rgb(138, 148, 166);
  stroke: rgb(138, 148, 166);
}

/* =================================== */

.shadow-custom {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 
              0px 8px 16px rgba(0, 0, 0, 0.04);
}
.shadow-border-top {
  box-shadow: 0px 0.2px 3px 0.3px rgba(0, 0, 0, 0.1);
}

/* ==================================== */
@media (max-width: 1230px) {
  .icon-button {
    min-width: auto;
    border: none;
    padding: 8px;
  }

  .icon-button .feather-icon,
  .icon-button svg {
    display: flex;
    gap: 8px;
  }

  .icon-button span {
    display: none;
  }
}

/* checbox============================== */
.custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #747373;
  border-radius: 4px;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  position: relative;
}

.custom-checkbox:checked {
  background-color: #7f7f7f;
  border-color: #747373;
}

.custom-checkbox:checked::after {
  content: "";
  display: block;
  position: relative;
  top: 2px;
  left: 7px;
  width: 8px;
  height: 15px;
  border:  solid #ffffff;
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(45deg);
}
