@tailwind base;
@tailwind components;
@tailwind utilities;

.text-input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.text-m {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: #8A94A6;
}
.bg_gray {
  background-color: rgb(242, 245, 248);
}
.btnBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-width: 1px;
  border-radius: 4px;
  opacity: 0.5;
  border-color: #c6cdd2;
  gap: 12px;
}

.shadow-custom {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 
              0px 8px 16px rgba(0, 0, 0, 0.04);
}
.shadow-border-top {
  box-shadow: 0px 0px 0px 0.3px rgba(0, 0, 0, 0.1);
}
/* Estilos para cuando la pantalla es menor a 1230px */
@media (max-width: 1230px) {
  .icon-button {
    min-width: auto;
    border: none;
    padding: 0;
  }

  .icon-button i,
  .icon-button svg {
    display: flex;
    gap: 8px;
    margin: 8px;
    /* font-size: 24px; */
  }

  .icon-button span {
    display: none;
  }
}
